<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hackathon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./materialize/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="design.css">
    <script src = "angular.min.js"></script>
    <script src="./node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-touch/angular-touch.js"></script>
    <script src="./materialize/js/materialize.min.js"></script>
    <script src="app.js"></script>
    <script src="constants.js"></script>

</head>
<body ng-app="hackathon">
<div ng-controller="MainCtrl" style="height: 100%;">
    <div ng-if="questBin === undefined">
        <img src="axa.jpg" style="width: 100%">
        <div style="margin-top: 30vh;transform: translateY(-50%);">
            <h2 class="text-center">Bonjour,</h2>
            <h5 style="text-align: center">Vous êtes jeune entrepreneur ?</h5>
            <p style="text-align:  center; padding: 5%; font-size: 120%">Venez matcher avec votre conseiller en <b>assurance idéal</b> en fonction de votre activité et de vos besoins.</p>
        </div>
        <button class="center-block btn btn-lg btn-success" style="border-radius: 0; position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%)" ng-click="displayQuestionsBin(0)">C'est parti !</button>
    </div>
    <!--<p>quests = {{questBin}}</p>-->
    <!--<p>question nb = {{questionNb}}</p>-->
    <!--<p>questBin = {{questBin[questionNb]}}</p>-->
    <!--<p>resultat = {{resultat}}</p>-->
    <style>
        {{blockAnimation}}
    </style>
    <div ng-if="questBin !== undefined && resultat === undefined && partTwo === false" class="" style="height: 100%; background: url('./bg.jpg'); background-size: cover; background-position: -25px;">
        <div class="col-md-12 col-xs-12" style="margin-top: 50%" ng-swipe-left="answer('NON')" ng-swipe-right="answer('OUI')">
            <div class="row ">
                <div class="col s12 m6">
                    <div class="card grey valign-wrapper animBlock" style="min-height: 260px; background-color: rgba(255, 255, 255, 0.7) !important;">
                        <div class="card-content white-text" style="margin: 0 auto">
                            <p class="valign" style="text-align: center; font-size: 200%; font-weight: 400; color: black">{{questBin[questionNb].textTu}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="position: fixed; bottom: 0; left: 0; width: 100%">
                <a ng-click="answer('NON')" class="btn-floating btn-large waves-effect waves-light red" style="position: absolute; bottom: 30px; left: 30px; transform: scale(1.5);"><i class="glyphicon glyphicon-remove"></i></a>
                <a ng-click="answer('OUI')" class="btn-floating btn-large waves-effect waves-light green"  style="position: absolute; bottom: 30px; right: 30px;  transform: scale(1.5);"><i class="glyphicon glyphicon-ok"></i></a>
            </div>
            <div ng-show="lastQ > 0" class="text-center white-text" style="font-size: 150%">
                {{lastQ}} / 17
            </div>
        </div>
        <!--<p>r.type = {{questBin[questionNb].r.type}}</p>-->
    </div>
    <div ng-if="resultat !== undefined && questNonBin === undefined && partTwo === false" class="container center-block text-center" style="overflow: hidden">
        <img src="logo.png" style="width: 30%; margin-top: 25px; margin-bottom: 25px">
        <img class="center-block img-circle" style="margin-bottom: 10px" src="{{resultat.img}}" width="200">

        <h5>Guillaume, conseiller AXA</h5>
        <h6>Agence Darmau, rue de la Bourse</h6>
        <p style="font-size: 150%; margin-top: 15%">Te propose de boire un café avec lui.</p>
        <div class="btn-block">
            <button type="button" class="btn btn-success btn-lg" ng-click="displayPartTwo()" style="">Avec plaisir !</button>
            <button type="button" class="btn btn-warning btn-lg materialize-red" style="margin-top: 10px">Non merci</button>
        </div>
    </div>
    <div ng-if="partTwo === true && questNonBin === undefined" style="margin-top: 50vh;transform: translateY(-50%);">
        <h1 class="text-center">{{partTwoText}}</h1>
        <div class="center-block">
            <button type="button" class="btn btn-success btn-lg" ng-click="displayQuestionsNonBin(0)">{{partTwoButton1}}</button>
            <button type="button" class="btn btn-danger btn-lg" ng-click="displayCalendar()">{{partTwoButton2}}</button>
        </div>
    </div>
    <div ng-if="partTwo === true && questNonBin !== undefined" class="container" style="margin-top: 50vh;transform: translateY(-50%);">
        <h1 class="text-center">{{questNonBin[questionNb].textTu}}</h1>
        <div ng-if="questNonBin[questionNb].type === 'TEXT'" class="center-block" style="margin-bottom: 10px">
            <input class="center-block form-control" type="text" name="test" ng-model="questNonBin[questionNb].val" placeholder="nom et prenom">
        </div>
        <button type="button" class="btn btn-success btn-lg" style="float: right" ng-click="displayQuestionsNonBin(0)">Suivant</button>
        <button type="button" class="btn btn-secondary btn-lg right" style="float: left" ng-click="displayCalendar()">On s'arrete la</button>

    </div>
</div>
</body>
</html>
